/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/


body {
	@apply bg-background text-foreground font-sans;
}

.no-scroll {
	@apply overflow-y-hidden;
}

:root {
	--primary-color: #0011af;
	--secondary-color: #060b3d;
}

.main-menu {
	> li {
		@apply text-white 1.5xl:text-lg leading-[32px] capitalize;

		> a {
			@apply block 1.5xl:py-6 py-4 px-[15px];
		}
	}

	> li.menu-item-has-children {
		@apply pr-8 bg-no-repeat bg-contain relative;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M11.75 5.63477H6.61523V0.5H5.88477V5.63477H0.75V6.36523H5.88477V11.5H6.61523V6.36523H11.75V5.63477Z' fill='white'/%3E%3C/svg%3E");
		background-size: 11px 11px;
		background-position: calc(100% - 15px) center;

		> .sub-menu {
			@apply absolute min-w-max space-y-[14px] origin-top left-0 border border-[#ffffff2b] bg-[#d3d3d359] backdrop-blur-[20px] w-full p-[26px] pb-[60px] [&:not(.active)]:-z-10 z-10 [&:not(.active)]:opacity-0 opacity-100 [&:not(.active)]:invisible visible [&:not(.active)]:pointer-events-none pointer-events-auto [&:not(.active)]:scale-y-50 scale-y-100 transition-all duration-500;

			> li {
				@apply text-[#A2A2A2] transition-colors duration-300;

				&:hover {
					@apply text-primary;
				}
			}
		}

		> a {
			@apply pr-0;
		}

		&:hover {
			> .sub-menu {
				@apply scale-y-100 visible opacity-100 z-10 pointer-events-auto;
			}
		}
	}
}

.main-menu-mobile {
	> li {
		> a {
			@apply flex justify-between items-center w-full py-2.5 text-white text-xl capitalize;
		}
	}

	> li.menu-item-has-children {
		> a {
			@apply after:size-6 after:bg-no-repeat after:bg-center after:transition-transform duration-300;

			&:after {
				background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 6L8.5 10L12.5 6' stroke='%23fff' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
				background-size: 24px 24px;
				background-position: center center;
			}
		}

		> a.rotated::after {
			@apply rotate-180;
		}

		> ul.sub-menu {
			@apply pb-5 space-y-2.5 pl-5 text-white;
		}
	}
}

.highlight {
	span {
		@apply text-primary whitespace-normal;
	}
}

.form-nhan-tu-van-mien-phi {
	form {
		@apply relative flex flex-col md:gap-[18px] gap-2;
	}

	.email-field {
		@apply md:py-[18px] py-3 px-6 xl:w-[479px] w-full bg-white rounded-full overflow-hidden focus:outline-none md:text-lg text-sm !leading-[1] text-[#525256];
	}

	.submit {
		@apply md:py-4 py-3 px-8 bg-[#393CA2] md:text-lg text-sm text-white !leading-[1] capitalize rounded-full overflow-hidden w-fit cursor-pointer;
	}

	.wpcf7-spinner {
		@apply absolute bottom-0 left-0;
	}
}

.form-dang-ky {
	.row-input {
		@apply flex md:flex-row flex-col items-center md:gap-2.5;

		> span {
			@apply md:w-1/2 w-full;
			.input-field {
				@apply md:mb-5 mb-2.5 lg:p-5 py-2 px-4 w-full rounded-xl bg-white overflow-hidden border border-transparent text-lg text-[#525256] focus:outline-none focus:border-primary transition-colors duration-300;
			}
		}
	}

	.area-field {
		@apply lg:p-5 py-2 px-4 w-full max-h-[150px] rounded-xl bg-white overflow-hidden border border-transparent text-lg text-[#525256] focus:outline-none focus:border-primary transition-colors duration-300;
	}

	.submit {
		@apply lg:mt-[60px] mt-7 lg:py-[25px] py-2 lg:px-11 px-5 rounded-full overflow-hidden bg-primary hover:hover:bg-[#224393c7] text-white text-xl cursor-pointer transition-colors duration-300;
	}
}

.form-lien-he-saphia {
	.input-field {
		@apply bg-white rounded-full overflow-hidden shadow-contact-form py-2.5 px-[30px] w-full lg:text-[26px] text-lg leading-[40px] mt-5 text-[#1E1E1E];
	}

	.contact-area {
		@apply mt-[100px] flex md:flex-row flex-col md:items-center md:justify-center gap-4;

		.call-button {
			@apply py-4 pl-8 pr-[72px] md:w-fit w-full rounded-full overflow-hidden relative text-[#F7F7F7] lg:text-[26px] text-lg leading-[1] bg-primary lg:after:size-[48.665px] after:size-10 after:shrink-0 after:absolute after:right-[6px] after:top-1/2 after:-translate-y-1/2 after:bg-no-repeat after:bg-cover after:bg-center;
			&::after {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='49' height='50' viewBox='0 0 49 50' fill='none'%3E%3Crect x='0.335938' y='0.421875' width='48.6645' height='48.6645' rx='24.3323' fill='white'/%3E%3Cpath d='M17.1763 14.3086C16.565 14.3086 15.9981 14.575 15.4534 15.1078C14.9421 15.5852 14.5864 16.1069 14.3641 16.673C14.1307 17.2503 14.0195 17.8608 14.0195 18.5158C14.0195 19.5481 14.2641 20.6693 14.7532 21.8238C15.2534 23.0004 15.9536 24.2215 16.8429 25.4426C17.7321 26.6637 18.7436 27.8514 19.8552 28.9726C20.9667 30.0716 22.1672 31.0928 23.401 31.992C24.6015 32.869 25.8353 33.5794 27.058 34.09C28.9588 34.9004 30.7373 35.0891 32.2045 34.4786C32.7714 34.2454 33.2716 33.8902 33.7273 33.3796C33.983 33.1021 34.1831 32.8024 34.3498 32.4471C34.4832 32.1696 34.5499 31.881 34.5499 31.5924C34.5499 31.4148 34.5165 31.2372 34.4276 31.0373C34.3943 30.9707 34.3276 30.8486 34.1164 30.7043L30.426 28.0846C30.2037 27.9291 30.0036 27.8181 29.8147 27.7404C29.5701 27.6405 29.4701 27.5406 29.0922 27.7737C28.8698 27.8847 28.6698 28.0513 28.4475 28.2733L27.6027 29.1058C27.1692 29.5276 26.5022 29.6276 25.9909 29.4388L25.6908 29.3056C25.2351 29.0614 24.7015 28.684 24.1124 28.1845C23.5789 27.7293 23.0009 27.1965 22.3006 26.5083C21.7559 25.9532 21.2113 25.3649 20.6444 24.7099C20.1219 24.0994 19.744 23.5777 19.5106 23.1447L19.3772 22.8117C19.3105 22.5564 19.2883 22.4121 19.2883 22.2567C19.2883 21.8571 19.4328 21.5018 19.7107 21.2243L20.5443 20.3585C20.7666 20.1365 20.9334 19.9255 21.0445 19.7368C21.1335 19.5925 21.1668 19.4704 21.1668 19.3594C21.1668 19.2706 21.1335 19.1374 21.0779 19.0042C21.0001 18.8266 20.8778 18.6268 20.7222 18.4159L18.1434 14.7748C18.0322 14.6194 17.8988 14.5084 17.7321 14.4307C17.5543 14.353 17.3653 14.3086 17.1763 14.3086Z' fill='%23393CA2'/%3E%3C/svg%3E");
				background-size: 48.665px 48.665px;
				background-position: center center;
			}
		}

		.submit {
			@apply py-4 pl-8 pr-[72px] md:w-fit w-full rounded-full overflow-hidden relative border border-[#00000080] text-[#1E1E1E] lg:text-[26px] text-lg leading-[1] bg-transparent lg:after:size-[48.665px] after:size-10 after:shrink-0 after:absolute after:right-[6px] after:top-1/2 after:-translate-y-1/2 after:bg-no-repeat after:bg-cover after:bg-center;
			&::after {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='49' height='50' viewBox='0 0 49 50' fill='none'%3E%3Crect x='0.335938' y='0.421875' width='48.6645' height='48.6645' rx='24.3323' fill='white'/%3E%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.847656' y='0.679688' width='49.1508' height='49.1508' rx='24.5754' fill='black' fill-opacity='0.5'/%3E%3Cpath d='M34.1328 25.9544C34.3203 25.76 34.4141 25.5239 34.4141 25.2461C34.4141 24.9683 34.3203 24.7322 34.1328 24.5378L27.0614 17.5378C26.5792 17.1489 26.1239 17.1489 25.6953 17.5378C25.3203 18.0378 25.3337 18.51 25.7355 18.9544L31.0391 24.2461H17.3783C16.7891 24.3016 16.4676 24.635 16.4141 25.2461C16.4676 25.8572 16.7891 26.1905 17.3783 26.2461H31.0391L25.6953 31.5378C25.3203 31.9822 25.3203 32.4544 25.6953 32.9544C26.1239 33.3433 26.5792 33.3433 27.0614 32.9544L34.1328 25.9544Z' fill='%23F7F7F7'/%3E%3C/svg%3E%3C/svg%3E");
				background-size: 48.665px 48.665px;
				background-position: center center;
			}
		}
	}
}

@media (max-width: 768px) {
	.form-lien-he-saphia {
		.contact-area {

		.call-button {
			&::after {
				background-size: 40px 40px;
			}
		}

		.submit {&::after {
				background-size: 40px 40px;
			}
		}
	}
	}
}

.mission-slider {
	.swiper-button-next,
	.swiper-button-prev {
		@apply size-[66px] shrink-0 bg-none bg-[#0000006b] rounded-full;

		&::after {
			@apply text-white;
		}
	}
}

.star-rating,
.star-rating-customer,
.star-rating-prosucts {
	.rate {
		width: fit-content;
		float: left;
		height: max-content;
	}
	.rate:not(:checked) > input {
		position: absolute;
		top: -9999px;
	}
	.rate:not(:checked) > label {
		float: right;
		width: 1em;
		overflow: hidden;
		white-space: nowrap;
		cursor: pointer;
		font-size: 20px;
		color: #ccc;
	}
	.rate:not(:checked) > label:before {
		content: "★ ";
	}
	.rate > input:checked ~ label {
		color: #ffc700;
	}
	.rate:not(:checked) > label:hover,
	.rate:not(:checked) > label:hover ~ label {
		color: #deb217;
	}
	.rate > input:checked + label:hover,
	.rate > input:checked + label:hover ~ label,
	.rate > input:checked ~ label:hover,
	.rate > input:checked ~ label:hover ~ label,
	.rate > label:hover ~ input:checked ~ label {
		color: #c59b08;
	}
}

.star-rating-customer {
	.rate:not(:checked) > label {
		font-size: 30px;
	}
}

.star-rating-prosucts {
	.rate > input:checked ~ label {
		color: black;
	}
	.rate:not(:checked) > label:hover,
	.rate:not(:checked) > label:hover ~ label {
		color: rgba(0, 0, 0, 0.724);
	}
	.rate > input:checked + label:hover,
	.rate > input:checked + label:hover ~ label,
	.rate > input:checked ~ label:hover,
	.rate > input:checked ~ label:hover ~ label,
	.rate > label:hover ~ input:checked ~ label {
		color: rgba(0, 0, 0, 0.724);
	}
}

.products-slider {
	.swiper-button-next,
	.swiper-button-prev {
		@apply lg:size-[72px] size-10 shrink-0 bg-none bg-white rounded-full overflow-hidden border border-[#C0C0C0];

		&::after {
			@apply text-black hidden;
		}
	}

	.swiper-button-next {
		@apply md:right-10 bg-no-repeat bg-center;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='25' viewBox='0 0 22 25' fill='none'%3E%3Cpath d='M20.7383 13.4961C21.0195 13.1836 21.1602 12.8242 21.1602 12.418C21.1602 12.0117 21.0195 11.6523 20.7383 11.3398L13.2383 3.83984C12.9258 3.55859 12.5664 3.41797 12.1602 3.41797C11.7539 3.41797 11.3945 3.55859 11.082 3.83984C10.8008 4.15234 10.6602 4.51172 10.6602 4.91797C10.6602 5.32422 10.8008 5.68359 11.082 5.99609L16.0508 10.918H1.66016C1.22266 10.918 0.863281 11.0586 0.582031 11.3398C0.300781 11.6211 0.160156 11.9805 0.160156 12.418C0.160156 12.8555 0.300781 13.2148 0.582031 13.4961C0.863281 13.7773 1.22266 13.918 1.66016 13.918H16.0508L11.082 18.8398C10.8008 19.1523 10.6602 19.5117 10.6602 19.918C10.6602 20.3242 10.8008 20.6836 11.082 20.9961C11.3945 21.2773 11.7539 21.418 12.1602 21.418C12.5664 21.418 12.9258 21.2773 13.2383 20.9961L20.7383 13.4961Z' fill='%23292929'/%3E%3C/svg%3E");
		background-size: 24px;
	}

	.swiper-button-prev {
		@apply md:left-10 bg-no-repeat bg-center;
		background-image: url("data:image/svg+xml,%3Csvg width='22' height='25' viewBox='0 0 22 25' fill='none' xmlns='http://www.w3.org/2000/svg' transform='rotate(-180)'%3E%3Cpath d='M20.7383 13.4961C21.0195 13.1836 21.1602 12.8242 21.1602 12.418C21.1602 12.0117 21.0195 11.6523 20.7383 11.3398L13.2383 3.83984C12.9258 3.55859 12.5664 3.41797 12.1602 3.41797C11.7539 3.41797 11.3945 3.55859 11.082 3.83984C10.8008 4.15234 10.6602 4.51172 10.6602 4.91797C10.6602 5.32422 10.8008 5.68359 11.082 5.99609L16.0508 10.918H1.66016C1.22266 10.918 0.863281 11.0586 0.582031 11.3398C0.300781 11.6211 0.160156 11.9805 0.160156 12.418C0.160156 12.8555 0.300781 13.2148 0.582031 13.4961C0.863281 13.7773 1.22266 13.918 1.66016 13.918H16.0508L11.082 18.8398C10.8008 19.1523 10.6602 19.5117 10.6602 19.918C10.6602 20.3242 10.8008 20.6836 11.082 20.9961C11.3945 21.2773 11.7539 21.418 12.1602 21.418C12.5664 21.418 12.9258 21.2773 13.2383 20.9961L20.7383 13.4961Z' fill='%23292929'%3E%3C/path%3E%3C/svg%3E");
		background-size: 24px;
	}
}

.challenge-slider {
	.swiper-button-next,
	.swiper-button-prev {
		@apply lg:size-[66px] size-10 shrink-0 bg-none bg-transparent rounded-full overflow-hidden;

		&::after {
			@apply text-black hidden;
		}
	}

	.swiper-button-next {
		@apply md:right-10 bg-no-repeat bg-center;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='95' height='95' viewBox='0 0 95 95' fill='none'%3E%3Ccircle opacity='0.3' cx='47.2344' cy='47.234' r='33.2338' transform='rotate(45 47.2344 47.234)' fill='black'/%3E%3Cpath d='M43.2345 58.2343L53.2344 48.2344C53.2344 48.2344 46.7286 41.7286 43.2345 38.2345' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
		background-size: 66px;
	}

	.swiper-button-prev {
		@apply md:left-10 bg-no-repeat bg-center;
		background-image: url("data:image/svg+xml,%3Csvg width='95' height='95' viewBox='0 0 95 95' fill='none' xmlns='http://www.w3.org/2000/svg' transform='rotate(-180)'%3E%3Ccircle opacity='0.3' cx='47.2344' cy='47.234' r='33.2338' transform='rotate(45 47.2344 47.234)' fill='black'%3E%3C/circle%3E%3Cpath d='M43.2345 58.2343L53.2344 48.2344C53.2344 48.2344 46.7286 41.7286 43.2345 38.2345' stroke='white' stroke-width='2' stroke-linecap='round'%3E%3C/path%3E%3C/svg%3E");
		background-size: 66px;
	}
}

.research-slider {
	.swiper-button-next,
	.swiper-button-prev {
		@apply top-[93%] lg:size-[66px] size-10 shrink-0 bg-none bg-transparent rounded-full overflow-hidden;

		&::after {
			@apply text-black hidden;
		}
	}

	.swiper-button-next {
		@apply md:right-[13.5rem] bg-no-repeat bg-center;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='95' height='95' viewBox='0 0 95 95' fill='none'%3E%3Ccircle opacity='0.3' cx='47.2344' cy='47.234' r='33.2338' transform='rotate(45 47.2344 47.234)' fill='black'/%3E%3Cpath d='M43.2345 58.2343L53.2344 48.2344C53.2344 48.2344 46.7286 41.7286 43.2345 38.2345' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
		background-size: 66px;
	}

	.swiper-button-prev {
		@apply md:left-[13.5rem] bg-no-repeat bg-center;
		background-image: url("data:image/svg+xml,%3Csvg width='95' height='95' viewBox='0 0 95 95' fill='none' xmlns='http://www.w3.org/2000/svg' transform='rotate(-180)'%3E%3Ccircle opacity='0.3' cx='47.2344' cy='47.234' r='33.2338' transform='rotate(45 47.2344 47.234)' fill='black'%3E%3C/circle%3E%3Cpath d='M43.2345 58.2343L53.2344 48.2344C53.2344 48.2344 46.7286 41.7286 43.2345 38.2345' stroke='white' stroke-width='2' stroke-linecap='round'%3E%3C/path%3E%3C/svg%3E");
		background-size: 66px;
	}
}

.analysis-slider {
	.swiper-button-next,
	.swiper-button-prev {
		@apply lg:size-[66px] size-10 shrink-0 bg-none bg-transparent rounded-full overflow-hidden;

		&::after {
			@apply text-black hidden;
		}
	}

	.swiper-button-next {
		@apply bg-no-repeat bg-center;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='95' height='95' viewBox='0 0 95 95' fill='none'%3E%3Ccircle opacity='0.3' cx='47.2344' cy='47.234' r='33.2338' transform='rotate(45 47.2344 47.234)' fill='black'/%3E%3Cpath d='M43.2345 58.2343L53.2344 48.2344C53.2344 48.2344 46.7286 41.7286 43.2345 38.2345' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
		background-size: 66px;
	}

	.swiper-button-prev {
		@apply bg-no-repeat bg-center;
		background-image: url("data:image/svg+xml,%3Csvg width='95' height='95' viewBox='0 0 95 95' fill='none' xmlns='http://www.w3.org/2000/svg' transform='rotate(-180)'%3E%3Ccircle opacity='0.3' cx='47.2344' cy='47.234' r='33.2338' transform='rotate(45 47.2344 47.234)' fill='black'%3E%3C/circle%3E%3Cpath d='M43.2345 58.2343L53.2344 48.2344C53.2344 48.2344 46.7286 41.7286 43.2345 38.2345' stroke='white' stroke-width='2' stroke-linecap='round'%3E%3C/path%3E%3C/svg%3E");
		background-size: 66px;
	}
}

.swiper-pagination-bullet-active {
	@apply bg-black;
}

@layer utilities {
	.pl-container-offset {
		padding-left: calc((100vw - 1280px) / 2 + 2rem); /* xl */
	}

	@media (min-width: 1676px) {
		.pl-container-offset {
			padding-left: calc((100vw - 1676px) / 2 + 2rem); /* 3xl */
		}
	}

	@media (min-width: 1476px) and (max-width: 1675px) {
		.pl-container-offset {
			padding-left: calc((100vw - 1476px) / 2 + 2rem); /* 2xl */
		}
	}

	@media (min-width: 1280px) and (max-width: 1475px) {
		.pl-container-offset {
			padding-left: calc((100vw - 1280px) / 2 + 2rem); /* xl */
		}
	}

	@media (min-width: 1025px) and (max-width: 1279px) {
		.pl-container-offset {
			padding-left: calc((100vw - 1025px) / 2 + 2rem); /* lg */
		}
	}

	@media (min-width: 768px) and (max-width: 1024px) {
		.pl-container-offset {
			padding-left: calc((100vw - 768px) / 2 + 2rem); /* md */
		}
	}

	@media (min-width: 640px) and (max-width: 767px) {
		.pl-container-offset {
			padding-left: calc((100vw - 640px) / 2 + 2rem); /* sm */
		}
	}

	@media (max-width: 639px) {
		.pl-container-offset {
			padding-left: calc((100vw - 393px) / 2 + 2rem); /* xs */
		}
	}
}

.marquee-carousel .swiper-wrapper,
.reverse-marquee-carousel .swiper-wrapper {
	transition-timing-function: linear !important;
}

.timeline_marker {
	&::after {
		background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='3' fill='white'/%3E%3Ccircle opacity='0.35' cx='9' cy='9' r='9' fill='white'/%3E%3C/svg%3E");
		background-position: center center;
		background-size: 100% 100%;
	}
}

.slide-cloud{
	animation: slideLeft 30s linear infinite;
}
@keyframes slideLeft {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}